@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. DESIGN MOBILE - TITULO OU SUBTITULO DO COMPONENTE */
.show-page-dashboard-component {
    padding: 20px 10px 40px 10px;
    background: #f3f3f3;
}

.show-page-dashboard-component .show-page-dashboard-container {}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text {
    color: #031d3d;
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 20px !important;
}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-title {
    font-size: 20px;
    font-weight: 400;
}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-subtitle {
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 400px) {
    .show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-title {
        font-size: 19px;
    }
}

/* 2. DESIGN MOBILE - CSS DO GRAFICO */
.show-page-dashboard-component .show-page-dashboard-graphic {
    width: 100%;
    max-height: 300px;
}

.show-page-dashboard-component .show-page-dashboard-graphic .graphic-pie {
    margin: 0 auto;
}

.show-page-dashboard-component .show-page-dashboard-graphic-details-container {
    padding: 2px;
    margin-top: 20px;
}

.show-page-dashboard-component .show-page-dashboard-graphic-details-container .show-page-dashboard-graphic-details-item .show-page-dashboard-graphic-details-text-votes {
    color: #031d3d;
    font-weight: bold;
}

@media (min-width: 1000px) {
    .show-page-dashboard-component {
        display: flex;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 60px;
        padding: 2px;
        /*background: #b2cbdc;*/
        /*box-shadow: 3px 4px 7px #e4e4e4;*/
        background: #efefef;
        border: 1px solid #e2e2e2;
        box-shadow: 3px 4px 6px #dcdcdc;
    }

    .show-page-dashboard-component .show-page-dashboard-container {
        width: 50%;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .show-page-dashboard-component .show-page-dashboard-image-bg {
        width: 50%;
        background-image: url('https://media.istockphoto.com/id/1288486126/pt/vetorial/tiny-female-character-filling-online-survey-form-on-huge-smartphone-screen-voters.jpg?s=2048x2048&w=is&k=20&c=AfMBHtf8P8oMTgZvpQ7ne9DxVNvw2zfKgLPO1TMElAI=');
        background-size: 100% 100%;
    }

    .show-page-dashboard-component .show-page-dashboard-graphic {
    }
    
    .show-page-dashboard-component .show-page-dashboard-graphic .graphic-pie {
    }
    
    .show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-title {
        margin-left: 5px;
        
    }
    
    .show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-subtitle {
        margin-left: 5px;
    }

    .show-page-dashboard-component .show-page-dashboard-graphic-details-container {
        margin-left: 5px;
    }
    
    .show-page-dashboard-component .show-page-dashboard-graphic-details-container .show-page-dashboard-graphic-details-item .show-page-dashboard-graphic-details-text-votes {
        margin-left: 5px;
    }
}