@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

.home-fale-conosco {
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;
}

.home-fale-conosco .home-fale-conosco-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.home-fale-conosco .home-fale-conosco-text .home-fale-conosco-text-title {
    font-size: 20px;
    text-align: left;
    color: rgb(3, 29, 61);
    margin: 0;
}

.home-fale-conosco .home-fale-conosco-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    padding: 20px;
    border: 0.25px solid #4e4b98;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.home-fale-conosco .home-fale-conosco-link .home-fale-conosco-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-fale-conosco .home-fale-conosco-link .home-fale-conosco-link-container .home-fale-conosco-link-bg {
    padding: 20px;
    background: rgb(238, 237, 249);
    border-radius: 50%;
    margin-right: 10px;
}

.home-voting-conosco-link-container {
    display: flex;
}

.home-fale-conosco .home-fale-conosco-link .home-fale-conosco-link-container .home-fale-conosco-link-text {
    color: rgb(3, 29, 61);
    margin-top: 1px;
}

.home-fale-conosco .home-fale-conosco-link .home-fale-conosco-link-arrow {
    height: 19px;
    color: #4e4b98 /*#0d6efd*/;
}

.home-fale-conosco-image {
    position: relative;
}

.bi.bi-chat-left-dots {
    top: 8px;
    left: 11px;
    position: absolute;
    font-size: 18px;
    color: #4e4b98;
}