.app-navbar {
    background: #f6f5f5;
    box-shadow:  0px 0px 4px #2c2c2c;
}

.app-navbar .app-navbar-content {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    height:          100px;
    padding-left:    30px;
    padding-right:   30px;
}

.app-navbar .app-navbar-content .app-navbar-logo {
    height: 70px;
    width: 112px;
    background-size: 100% 100%;
    background-image: url('../../assets/images/paramazon.png');
    cursor: pointer;
}

@media (min-width: 1000px) {
    .app-navbar {
        width: 100vw;
        z-index: 1;
    }
}

@media (max-width: 500px) {
    .app-navbar .app-navbar-content {
        display:         flex;
        justify-content: center;
        align-items:     center;
        padding-left:  20px;
        padding-right: 20px;
    }

    .app-navbar .app-navbar-content .app-navbar-logo .app-navbar-logo {
        height:           58px;
        width:            90px;
        background-size:  100% 100%;
        background-image: url('../../assets/images/paramazon.png');
        cursor:           pointer;
    }
}