@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. MOBILE DESIGN - FOOTER COMPONENT */
.footer-component {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #151d27;
    color: white;
}

/* 2. MOBILE DESIGN - FOOTER COMPONENT CONTENT (CONTAINER) */
.footer-component .footer-component-content {
    display:        flex;
    flex-direction: column;
    width:          90%;
    margin:         0 auto;
}

.footer-component .footer-component-content .footer-line {
    border: 1.25px solid #2b3949;
}

/* 3. MOBILE DESIGN - FOOTER NAVIGATION CONTAINER */
.footer-component .footer-component-content .footer-component-navigation-container {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item {
    display: flex;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-navigation-link {
    margin-right: 10px;
    color:     #96a6b7;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-image-flag-brazil {
    height: 14px;
    width:  20px;

    background-size:  100% 100%;
    background-image: url('https://flagcdn.com/32x24/br.png');
}

/* 4. MOBILE DESIGN - FOOTER LINK CONTAINER */
.footer-component .footer-component-content .footer-component-link-container {
    display:        flex;
    flex-direction: column;
    margin-top:     4px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-item {
    display:      flex;
    align-items:  center;
    text-align:   center;
    padding:      3px;
    color:      white;
    font-weight:  bold;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:    13px;
    margin-bottom: 5px;
    background:  #263241;
    border-radius: 4px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-item .footer-component-link-item-content-principal {
    display:     flex;
    align-items: center;
    margin:      0 auto;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-item .footer-component-link-item-content-principal .footer-component-link-item-content-principal-text {}

/* 4.1 MOBILE DESIGN - FOOTER LINK CONTAINER (ICONS) */
.footer-component .footer-component-content .footer-component-link-container .footer-component-link-item .footer-component-link-item-content-principal .footer-instagram-icon {
    font-size: 20px;
}

/* 4.2 MOBILE DESIGN - FOOTER LINK CONTAINER (SUBCONTAINER) */
.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer {
    display:         flex;
    justify-content: space-between;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer .footer-component-link-item {
    display:     flex;
    align-items: center;
    width:       100%;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer .footer-component-link-item-content {
    display:     flex;
    align-items: center;
    margin:      0 auto;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer .footer-component-link-item-content .footer-component-link-item-content-text  {}

/* 4.2.1 MOBILE DESIGN - FOOTER LINK CONTAINER (SUBCONTAINER ICONS) */
.footer-instagram-icon, .footer-facebook-icon, .footer-whatsapp-icon {
    font-size:    20px;
    margin-right: 8px;
    color:     white;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer .footer-component-link-item .footer-component-link-item-content .footer-whatsapp-icon {}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-subcontainer .footer-component-link-item .footer-component-link-item-content .footer-facebook-icon {}

/* 5. MOBILE DESIGN - FOOTER CREDITS CONTAINER */
.footer-component .footer-component-content .footer-component-credits-container {
    color:   #96a6b7;
    font-size:  13px;
    text-align: center;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-container-item {
    padding:   0;
    margin:    0;
    font-size: 12px;
}