@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. MOBILE DESIGN - FOOTER COMPONENT */
.footer-component {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #151d27;
    color: white;
}

/* 2. MOBILE DESIGN - FOOTER COMPONENT CONTENT (CONTAINER) */
.footer-component .footer-component-content {
    display:        flex;
    flex-direction: column;
    width:          90%;
    margin:         0 auto;
}

.footer-component .footer-component-content .footer-line {
    border: 1.25px solid #2b3949;
}

/* 3. MOBILE DESIGN - FOOTER NAVIGATION CONTAINER */
.footer-component .footer-component-content .footer-component-navigation-container {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item {
    display: flex;
    gap:     10px;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-navigation-link {
    color:     #96a6b7;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-image-flag-brazil {
    height: 14px;
    width:  20px;

    background-size:  100% 100%;
    background-image: url('https://flagcdn.com/32x24/br.png');
}

/* 4. MOBILE DESIGN - FOOTER LINK CONTAINER */
.footer-component .footer-component-content .footer-component-link-container {}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content {
    display:        flex;
    flex-direction: column;
    margin-top:     4px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item {
    display:      flex;
    align-items:  center;
    text-align:   center;
    padding:      3px;
    color:      white;
    font-weight:  bold;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:    13px;
    margin-bottom:0.3125rem;
    background:  #263241;
    border-radius: 4px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item .footer-component-link-item-content-principal {
    display:     flex;
    align-items: center;
    margin:      0 auto;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item .footer-component-link-item-content-principal .footer-component-link-item-content-principal-text {}

/* 4.1 MOBILE DESIGN - FOOTER LINK CONTAINER (ICONS) */
.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item .footer-component-link-item-content-principal .footer-instagram-icon {
    font-size: 20px;
}

/* 4.2 MOBILE DESIGN - FOOTER LINK CONTAINER (SUBCONTAINER) */
.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer {
    display:         flex;
    justify-content: space-between;
    gap:             0.3125rem;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item {
    display:     flex;
    align-items: center;
    width:       100%;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item-content {
    display:     flex;
    align-items: center;
    margin:      0 auto;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item-content .footer-component-link-item-content-text  {}

/* 4.2.1 MOBILE DESIGN - FOOTER LINK CONTAINER (SUBCONTAINER ICONS) */
.footer-instagram-icon, .footer-facebook-icon, .footer-whatsapp-icon {
    font-size:    20px;
    margin-right: 8px;
    color:     white;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item .footer-component-link-item-content .footer-whatsapp-icon {}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item .footer-component-link-item-content .footer-facebook-icon {}

/* 5. MOBILE DESIGN - FOOTER CREDITS CONTAINER */
.footer-component .footer-component-content .footer-component-credits-container {}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content {
    color:   #96a6b7;
    font-size:  13px;
    text-align: center;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item {}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item:first-of-type {
    display: none;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-credits-content-logo {

}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-credits-content-logo-title {
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-component-credits-item {
    padding:   0;
    margin:    0;
    font-size: 12px;
}

/* 6. DESIGN DESKTOP (TELA PEQUENA) */
@media (min-width: 1000px) {
/* X. DESIGN DESKTOP - FOOTER COMPONENT */
.footer-component {
    padding-top: 0;
}

/* X. DESIGN DESKTOP - FOOTER COMPONENT CONTENT (CONTAINER) */
.footer-component .footer-component-content {
    max-width: 1100px
}

.footer-component .footer-component-content .footer-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-component .footer-component-content .footer-line:first-of-type {
    margin-top: 0;
    margin-bottom: 20px;
}

/* X. DESIGN DESKTOP - FOOTER NAVIGATION CONTAINER */
.footer-component .footer-component-content .footer-component-navigation-container {
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item {
    position: relative;
    gap:      25px;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-navigation-link {
    margin-right: 0;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-navigation-link:hover {
    color: #fff;
    padding-bottom: 17px;
    border-bottom: 3px solid #0099cc;
}

.footer-component .footer-component-content .footer-component-navigation-container .footer-component-navigation-container-item .footer-image-flag-brazil {
    height: 15px;
    width:  21px;
}

/* X. DESIGN DESKTOP - FOOTER LINK CONTAINER */
.footer-component .footer-component-content .footer-component-link-container {}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content {
    flex-direction: row;
    gap:            15px;
    width:          80%;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item {
    font-size: 14px;
    max-width: 148px;
    padding: 7px 20px 7px 20px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item-whatsapp {
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item {
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item-instagram:hover {
    background: #d63372;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item-facebook:hover {
    background: #5b79a8;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-item-whatsapp:hover {
    background: #448144;
}

/* X. DESIGN DESKTOP - FOOTER LINK CONTAINER (SUBCONTAINER) */
.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer {
    display:         flex;
    justify-content: space-between;
    gap:             15px;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item {
    display:     flex;
    align-items: center;
    width:       100%;
}

.footer-component .footer-component-content .footer-component-link-container .footer-component-link-content .footer-component-link-subcontainer .footer-component-link-item-content {
    display:     flex;
    align-items: center;
    margin:      0 auto;
}

/* X. DESIGN DESKTOP - FOOTER CREDITS CONTAINER */
.footer-component .footer-component-content .footer-component-credits-container {}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content {
    display:         flex;
    justify-content: space-between;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item {
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item:first-of-type {
    display:     flex;
    align-items: center;
    gap:         -4px;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-credits-content-logo {
    height: 50px;
    width:  95px;
    background-image: url('../../assets/images/paramazon.png');
    background-size:  100% 100%;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-credits-content-logo-title {
    font-size: 20px;
}

.footer-component .footer-component-content .footer-component-credits-container .footer-component-credits-content .footer-component-credits-content-item .footer-component-credits-item {
    font-size:  13px;
    text-align: right;
}
}