@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. DESIGN MOBILE - TITULO OU SUBTITULO DO HOME CARD (FALE CONOSCO) COMPONENT */
.home-card-fale-conosco-component {
    display:        flex;
    flex-direction: column;
    font-family:    'Public Sans', sans-serif;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-text-container {
    width:      90%;
    margin:     0 auto;
    margin-top: 20px;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-text-container .home-card-fale-conosco-component-text-title {
    font-size:  20px;
    text-align: left;
    color:   #031d3d;
    margin:     0;
}

/* 2. DESIGN MOBILE - LINK */
.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container {
    display:         flex;
    flex-direction:  row;
    justify-content: space-around;
    align-items:     center;
    margin:          0 auto;
    margin-top:      10px;
    margin-bottom:   50px;
    width:           90%;
    padding:         20px;
    border:          0.25px solid #4e4b98;
    border-radius:   4px;
    background:   #fff;
    cursor:          pointer;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-icon-arrow {
    height: 19px;
    color:  #4e4b98;
}

/* 2.1 DESIGN MOBILE - LINK IMAGE */
.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-image-container {
    display:        flex;
    flex-direction: row;
    align-items:    center;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-image-container {
    position: relative;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-image-container .home-card-fale-conosco-component-link-image-bg {
    padding:       20px;
    background: #eeedf9;
    border-radius: 50%;
    margin-right:  10px;
}

.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-image-container .home-card-fale-conosco-component-link-image-chat-left-dots-icon {
    top:       8px;
    left:      11px;
    position:  absolute;
    font-size: 18px;
    color:   #4e4b98;
}

/* 2.2 DESIGN MOBILE - LINK TITLE */
.home-card-fale-conosco-component .home-card-fale-conosco-component-link-container .home-card-fale-conosco-component-link-image-container .home-card-fale-conosco-component-link-text-title {
    color:      #031d3d;
    margin-top: 1px;
}