.home-contact-us {
    padding-bottom: 70px;
    padding-top: 10px;
    margin-top: 20px;
    background: #f5f5f5;
}

.home-contact-us-title {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 20px;
}

.home-contact-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.home-contact-us-container .home-contact-us-section {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-services-card {
    display: flex;
    flex-direction: row;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 50%;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 70px;
}

.services-bg-1 {
    background-size: 100% 100%;
    background-image: url('../../../../assets/images/homeImages/servicos/servico-beer.jpg');
}

.services-bg-2 {
    background-size: 100% 100%;
    background-image: url('../../../../assets/images/homeImages/servicos/servico-tacaca.jpg');
}

.services-bg-3 {
    background-size: 100% 100%;
    background-image: url('../../../../assets/images/homeImages/servicos/servico-esporte.jpg');
}

.services-bg-4 {
    background-size: 100% 100%;
    background-image: url('../../../../assets/images/homeImages/servicos/servico-caipifrutas.jpg');
}

.home-services-card-title {
    position: absolute;
    z-index: 1;
    bottom: -32px;
    left: 0;
    font-size: 15px;
}

.t3 {
    bottom: -52px;
}