@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

.show-page-dashboard-component {
    padding: 20px 10px 10px 10px;
}

.show-page-dashboard-component .show-page-dashboard-container {}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text {
    color: rgb(3, 29, 61);
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 20px !important;
}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-title {
    font-size: 20px;
    font-weight: 400;
}

.show-page-dashboard-component .show-page-dashboard-container .show-page-dashboard-text .show-page-dashboard-text-subtitle {
    font-size: 16px;
    font-weight: 400;
}

.show-page-dashboard-component .show-page-dashboard-graphic {
    width: 100%;
    border: 1px solid gray;
}