@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.event-text {
  padding: 0 10px 0 10px;
}

.showpage .showpage-content {

  .showpage-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background: #153448;

    .banner-content {
      height: 350px;
      //background: blue;

      .banner-content-item {
        height: 116.6px;
        //border: 1px solid black;
      };

      #logo-container {
        display: flex;
        justify-content: center;

        #logo {
          height: 116.6px;
        };
      };

      #text-container {
        display: flex;
        padding-top: 14px; /* distancia entre o texto e o icone */
        justify-content: center;

        #text {
          width: 95%;
          color: #fff;
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 2vw;
          line-height: 9vw;
          white-space: nowrap;

          @media (max-width: 768px) {          
               font-size: 6vw;
          }

          @media (max-width: 480px) {
              font-size: 6vw;
          }
        };
      };

      #button-container {
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        width: 85%;
        gap: 20px;
        margin: 0 auto;
        //background: red;
    
        #button {
          width: 100%;
          height: 52px;
          //font-size: 12px;
          font-size: calc(0.4em + 1.8vw);
        }

        .btn-viewDemo {
          color: #fff;
          background: #1976d2;
        }

        .btn-two {
          background: #fff;
        }
      }

    };

  }
  
  .events {
    display: flex;
    gap: 40px;
    flex-direction: column;
    position: relative; /* Mantém o fluxo normal do documento */
    z-index: 2; /* Deve ser maior que o z-index da imagem parallax */
    padding: 50px 10px 55px 10px;
    background: #fff;
  }
  /* SWIPER */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

};