#services {
    background: #10004f;
}

/* SWIPPR SLIDE */
.swiper {
    width: 100%;
    height: 370px;

    .swiper-pagination {
        display: none;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/notFound2.jpg');

    @media (min-width: 1000px) {}
}