.home-card-links {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    flex-direction: column;
}

@media (min-width: 1000px) {
    #section {
        &:first-child {
            margin-bottom: 0;
        }

        .home-card-links {
            width: 60%;
            gap: 1vmax;
            align-items: end;
            padding: 0;
            position: relative;
        }
    }
}