.bi.bi-house-door-fill, .bi.bi-star-fill, .bi.bi-telephone-fill {
    font-size: 20px;
}

.bi.bi-list {
    font-size: 30px;
    position: absolute;
    top: 0px;
}

.menu-desktop {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0;
    /*background-color: yellow;*/
}

.menu-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.menu-mobile {
    display: flex !important;
    justify-content: space-around;
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0;
    width: 100vw;
    padding: 0;
    
    background: rgba(21, 21, 21, 0.8);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border-left: 0.5px solid #3c3c3c;
    border-bottom: 0.5px solid #3c3c3c;
}


.menu-item-mobile {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 17px;
    color: white;
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #1b1b1b;
    color: #1b1b1b;
}