:root {
  --home-banner-link-image: url('https://gerlan06.github.io/Boteco-Paramazon/img/sexta.jpg');
}

.home-banner-componente {
  height: 480px;
  width:  100%;
  position: relative;
}

.home-banner-componente .home-banner-image {
  top:             30px;
  left:            50%;
  transform:       translateX(-50%);
  position:        absolute;

  height:          400px;
  width:           40%;
  min-width: 400px;

  background-size: 100% 100%;
  border-radius:   10px;
  z-index:         1;

  background-size:  100% 100%;
  background-image: var(--home-banner-link-image);
}

.home-banner-componente .home-banner-content .home-banner-background {
  height:          478px;
  width:           100%;
  background-size: 100% 100%;
  filter:          blur(3px);
  background-image: var( --home-banner-link-image);
}

.home-banner-componente .home-banner-content .carousel-componente-overlay {
  top:             0;
  position:        absolute;
  height:          480px;
  width:           100%;
  background: rgba(0, 0, 0, 0.63);
}

@media (max-width: 700px) {
  .home-banner-componente {
    height: 100%;
    width:  100%;
    margin-top: 47px;
  }

  .home-banner-componente .home-banner-image {
    top: 0;
    width: 100%;
    border-radius: inherit;
    position: relative;
  }

  .home-banner-componente .home-banner-content .home-banner-background {
    display: none;
  }
  
  .home-banner-componente .home-banner-content .carousel-componente-overlay {
    display: none;
  }
}