@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. DESIGN MOBILE - TITULO OU SUBTITULO DO HOME CARD (VOTING) COMPONENT */
.home-card-voting-component {
    display:        flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top:    20px;
}

.home-card-voting-component .home-card-voting-component-title {
    text-align: left;
    font-size:  20px;
    margin-top: 10px;
    width:      90%;
    margin:     0 auto;
    color:   #031d3d;

    font-family: 'Public Sans', sans-serif;
}

/* 2. DESIGN MOBILE - LINK */
.home-card-voting-component .home-card-voting-component-link {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    width:       90%;
    margin:      0 auto;
    border:      none;
    padding:     20px;
    font-size:   16px;
    font-weight: 500;
    border: 0.25px solid #4e4b98;
    color: #031d3d;
    border-radius: 4px;
    margin-top:    11px;
}

.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-arrow-icon {
    height: 19px;
    color: #4e4b98;
}

.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-container {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
}

.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-container .home-card-voting-component-link-title {
    margin-top:  -2px;
    font-weight:  400;
    font-family: 'Public Sans', sans-serif;
}

/* 3. DESIGN MOBILE - LINK IMAGE */
.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-container .home-card-voting-component-link-image-container {
    position: relative;
}

.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-container .home-card-voting-component-link-image-container .home-card-voting-component-link-image-bg {
    padding:       20px;
    margin-left:   5px;
    margin-right:  10px;
    border-radius: 50%;
    background: #eeedf9;
}

.home-card-voting-component .home-card-voting-component-link .home-card-voting-component-link-container .home-card-voting-component-link-image-container .home-card-voting-component-link-image-envelope-icon {
    position:  absolute;
    top:       5px;
    left:      15px;
    font-size: 20px;
    color:   #4e4b98;
}