
#section {
    min-height: 370px;
    padding: 50px 10px 55px 10px;

    @media (min-width: 1000px) {
        padding: 6vmax 5vmax 11vmax 5vmax;
    }
};

.horizontal {
    display: flex;
}

.horizontal-inverse {
    display: flex;
    flex-direction: row-reverse;
}

.vertical {

}