@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

/* 1. DESIGN MOBILE - TITULO OU SUBTITULO DO HOME CARD (FALE CONOSCO) COMPONENT */
.home-card-link-component {
    display:        flex;
    flex-direction: column;
    font-family:    'Public Sans', sans-serif;
    height:         175px;
}

.home-card-link-component .home-card-link-component-text-container {
    width:      90%;
    margin:     0 auto;
    margin-top: 20px;
}

.home-card-link-component .home-card-link-component-text-container .home-card-link-component-text-title {
    font-size:  20px;
    text-align: left;
    color:   #031d3d;
    margin:     0;
}

/* 2. DESIGN MOBILE - LINK */
.home-card-link-component .home-card-link-component-link-container {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;
    margin:          0 auto;
    margin-top:      10px;
    margin-bottom:   50px;
    width:           90%;
    padding:         20px;
    border:          0.25px solid #4e4c9a;
    border-radius:   4px;
    background:   #fff;
    cursor:          pointer;
}

.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-icon-arrow {
    height: 19px;
    color:  #4e4b98;
}

/* 2.1 DESIGN MOBILE - LINK IMAGE */
.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container {
    display:        flex;
    flex-direction: row;
    align-items:    center;
}

.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container {
    position: relative;
}

.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container .home-card-link-component-link-image-bg {
    padding:       20px;
    background: #eeedf9;
    border-radius: 50%;
    margin-right:  10px;
}

.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container .home-card-link-icon {
    top:       8px;
    left:      11px;
    position:  absolute;
    font-size: 18px;
    color:   #4e4b98;
}

/* 2.2 DESIGN MOBILE - LINK TITLE */
.home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container .home-card-link-component-link-text-title {
    color:      #031d3d;
    margin-top: 1px;
}

@media (min-width: 1000px) {
    .home-card-link-component {
        position: relative;
        height:   100%;
    }

    .home-card-link-component .home-card-link-component-text-container {
        margin:        0;
        width:         100%;
        margin-bottom: 20px;
        position:      absolute;
        bottom:        75px;
    }

    .home-card-link-component .home-card-link-component-link-container {
        margin:   0;
        height:   80px;
        width:    100%;
        position: absolute;
        bottom:   0;
        padding:  20px 14px 20px 10px;
        border:   1px solid rgba(78, 76, 154, 0.4);
    }

    .home-card-link-component .home-card-link-component-text-container {
        margin-bottom: 15px;
    }

    .home-card-link-component .home-card-link-component-text-container .home-card-link-component-text-title {
        white-space: nowrap;
        font-size:   17px;
        bottom:      0px;
    }

    .home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-image-container .home-card-link-component-link-text-title {
        white-space: nowrap;
        font-size:   15px;
        font-weight: 100;
    }

    .home-card-link-component .home-card-link-component-link-container .home-card-link-component-link-icon-arrow {
        height: 15px;
        color: rgba(78, 76, 154, 0.4);
    }
}