.home-card-links {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .home-card-links {
        display:            flex;
        align-items:        center;
        gap:                10px;
        padding-top:        0;
        padding-bottom:     55px;
        height:             200px;
    }

    .home-card-links > div {
        width: 25%;
    }
}