@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

.home-voting {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 20px;
}

.home-voting-title {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
    color: rgb(3, 29, 61);

    font-family: 'Public Sans', sans-serif;
}

.home-voting-img-container {
    padding: 32px;
    min-width: 300px;
    margin: 0 auto;
}

.home-voting-img-container .home-voting-img {
    height: 100%;
    width: 100%;
    padding: 110px;
    background-size: 100% 100%;
    background-image: url('https://cdn.pixabay.com/animation/2023/06/13/15/12/15-12-34-448_512.gif');
}

.home-voting-btn-vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    border: 0.25px solid #4e4b98;
    color: rgb(3, 29, 61);
    border-radius: 4px;
    margin-top: 11px;
}

.home-voting-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-voting-link-bg {
    padding: 20px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: rgb(238, 237, 249);
}

.home-voting-link-text {
    margin-top: -2px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
}

.home-voting-link-arrow {
    height: 19px;
    color: #4e4b98;
}


.home-voting-image {
    position: relative;
}

.bi.bi-envelope {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 20px;
    color: #4e4b98;
}