.home-contact-us {
    padding: 20px;
    margin-top: 20px;
    background: #f5f5f5;
}

.home-contact-us-title {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-contact-us-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.home-contact-us-container .home-contact-us-section {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-contact-us-container  .home-contact-us-card {
    display: flex;
    flex-direction: row;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 70px;
    background: red;
}

.home-contact-us-container .home-contact-us-section .home-contact-us-card .home-contact-us-card-title {
    
}