.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: /*#343434*/ #343434;
    color: white;
}

.footer .footer-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.footer .footer-container .footer-container-links {
    margin: 0 auto;
}

/* LINKS (ICONS) */
.bi.bi-instagram, .bi.bi-facebook, .bi.bi-whatsapp {
    font-size: 22px;
}

.bi.bi-instagram, .bi.bi-facebook {
    margin-right: 25px;
}