@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

.card-link-item {
    width: 100%;
    padding: 8px 0 8px 0;
    cursor: pointer;
    border: 0.1px solid #bdbdfa;
    background: #FFFFFF;

    .text {
        span {
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 2px;
            color: rgb(47, 85, 212);
            font-family:  'Public Sans', sans-serif;
        }

        p {
            text-transform: lowercase;
        }
    }

    .icon {
        font-size: 16px;
        color: #bdbdfa;
    }

    @media (min-width: 1000px) {
        max-width: 400px;
    }
}